# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env*
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.sql
# IDE
.vscode/
.idea/
*.swp
*.swo
*~
__pycache__/
*.pyc
# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
__pycache__/resources.cpython-311.pyc
requirements.txt
__pycache__/quiz_database.cpython-311.pyc
__pycache__/quiz_database.cpython-312.pyc
